#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
}

ul > li {
  padding: 10px;
}

.complete {
  text-decoration: line-through;
}